/* Radio Channels */
.radio {
  color: #00a700;
}
.deptradio {
  color: #ff00ff;
}
.comradio {
  color: #5b8deb;
}
.syndradio {
  color: #ac6667;
}
.coalitionradio {
  color: #0091ce;
}
.centradio {
  color: #7272a7;
}
.airadio {
  color: #ec00ec;
}
.entradio {
  color: #cfcfcf;
}
.hailradio {
  color: #8b4cd8;
}
.shipradio {
  color: #738465;
}

.secradio {
  color: #e21111;
}
.engradio {
  color: #cc7b01;
}
.medradio {
  color: #0f7e62;
}
.sciradio {
  color: #c03bc0;
}
.supradio {
  color: #c09141;
}
.srvradio {
  color: #7fc732;
}
.expradio {
  color: #ffeeb5;
}
